name: UnitTest

on:
  push:
    branches: [ main ]

jobs:
  UnitTest:
    name: 进行单元测试
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v2

      - name: 单元测试
        run: |
          mv commons/utils/crypt.go.masked commons/utils/crypt.go
          go test ./... -race -coverprofile=coverage.txt -covermode=atomic

      - name: 上传单元测试结果
        uses: codecov/codecov-action@v1.0.14
        with:
          token: ${{secrets.CODECOV_TOKEN}}
